*.a
*.d
*.hpp
*.o
*.pyc
Open64/osprey1.0/include/sys/ia64/ia64
Open64/osprey1.0/targ_ia64_ia64_linux/arith/*
!Open64/osprey1.0/targ_ia64_ia64_linux/arith/Makefile
Open64/osprey1.0/targ_ia64_ia64_linux/be/*
!Open64/osprey1.0/targ_ia64_ia64_linux/be/Makefile
Open64/osprey1.0/targ_ia64_ia64_linux/crayf90/fe90/*
!Open64/osprey1.0/targ_ia64_ia64_linux/crayf90/fe90/Makefile
!Open64/osprey1.0/targ_ia64_ia64_linux/crayf90/fe90/stl5gSip
Open64/osprey1.0/targ_ia64_ia64_linux/crayf90/libf90sgi/*
!Open64/osprey1.0/targ_ia64_ia64_linux/crayf90/libf90sgi/Makefile
Open64/osprey1.0/targ_ia64_ia64_linux/crayf90/sgi/*
!Open64/osprey1.0/targ_ia64_ia64_linux/crayf90/sgi/Makefile
Open64/osprey1.0/targ_ia64_ia64_linux/include/*
!Open64/osprey1.0/targ_ia64_ia64_linux/include/Makefile
Open64/osprey1.0/targ_ia64_ia64_linux/ir_tools/*
!Open64/osprey1.0/targ_ia64_ia64_linux/ir_tools/Makefile
Open64/osprey1.0/targ_ia64_ia64_linux/libcif/*
!Open64/osprey1.0/targ_ia64_ia64_linux/libcif/Makefile
Open64/osprey1.0/targ_ia64_ia64_linux/libcomutil/*
!Open64/osprey1.0/targ_ia64_ia64_linux/libcomutil/Makefile
Open64/osprey1.0/targ_ia64_ia64_linux/targ_info/*
!Open64/osprey1.0/targ_ia64_ia64_linux/targ_info/Makefile
Open64/osprey1.0/targ_ia64_ia64_linux/whirl2f/*
!Open64/osprey1.0/targ_ia64_ia64_linux/whirl2f/Makefile
OpenADFortTk/OpenADFortTk-x86_64-Linux/
OpenADFortTk/build-x86_64-Linux/
OpenAnalysis/build-x86_64-Linux/
OpenAnalysis/build.log
OpenAnalysis/x86_64-Linux/
xaifBooster/algorithms/BasicBlockPreaccumulation/driver/oadDriver
xaifBooster/algorithms/BasicBlockPreaccumulation/driver/quickRegression.bash
xaifBooster/algorithms/BasicBlockPreaccumulationReverse/driver/oadDriver
xaifBooster/algorithms/BasicBlockPreaccumulationReverse/driver/quickRegression.bash
xaifBooster/algorithms/TraceDiff/driver/oadDriver
xaifBooster/algorithms/TraceDiff/driver/quickRegression.bash
xaifBooster/algorithms/TypeChange/driver/oadDriver
xaifBooster/algorithms/TypeChange/driver/quickRegression.bash
xercesc/x86_64-Linux/
xercesc/xerces-c-src/include/
xercesc/xerces-c-src/obj/Makefile
xercesc/xerces-c-src/src/xercesc/Makefile
xercesc/xerces-c-src/src/xercesc/config.log
xercesc/xerces-c-src/src/xercesc/config.status
xercesc/xerces-c-src/src/xercesc/dom/Makefile
xercesc/xerces-c-src/src/xercesc/dom/deprecated/Makefile
xercesc/xerces-c-src/src/xercesc/dom/impl/Makefile
xercesc/xerces-c-src/src/xercesc/framework/Makefile
xercesc/xerces-c-src/src/xercesc/framework/psvi/Makefile
xercesc/xerces-c-src/src/xercesc/internal/Makefile
xercesc/xerces-c-src/src/xercesc/parsers/Makefile
xercesc/xerces-c-src/src/xercesc/sax/Makefile
xercesc/xerces-c-src/src/xercesc/sax2/Makefile
xercesc/xerces-c-src/src/xercesc/util/Compilers/Makefile
xercesc/xerces-c-src/src/xercesc/util/Makefile
xercesc/xerces-c-src/src/xercesc/util/MsgLoaders/ICU/Makefile
xercesc/xerces-c-src/src/xercesc/util/MsgLoaders/ICU/resources/Makefile
xercesc/xerces-c-src/src/xercesc/util/MsgLoaders/InMemory/Makefile
xercesc/xerces-c-src/src/xercesc/util/MsgLoaders/MsgCatalog/Makefile
xercesc/xerces-c-src/src/xercesc/util/MsgLoaders/MsgFile/Makefile
xercesc/xerces-c-src/src/xercesc/util/NetAccessors/MacOSURLAccessCF/Makefile
xercesc/xerces-c-src/src/xercesc/util/NetAccessors/Socket/Makefile
xercesc/xerces-c-src/src/xercesc/util/NetAccessors/WinSock/Makefile
xercesc/xerces-c-src/src/xercesc/util/NetAccessors/libWWW/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/AIX/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/BeOS/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/Cygwin/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/FreeBSD/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/HPUX/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/IRIX/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/Linux/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/MacOS/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/NetBSD/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/OS390/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/OS400/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/OpenServer/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/PTX/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/QNX/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/Solaris/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/Tru64/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/UnixWare/Makefile
xercesc/xerces-c-src/src/xercesc/util/Platforms/Win32/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/Cygwin/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/ICU/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/Iconv/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/Iconv390/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/Iconv400/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/IconvFBSD/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/IconvGNU/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/MacOSUnicodeConverter/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/Uniconv390/Makefile
xercesc/xerces-c-src/src/xercesc/util/Transcoders/Win32/Makefile
xercesc/xerces-c-src/src/xercesc/util/regx/Makefile
xercesc/xerces-c-src/src/xercesc/validators/DTD/Makefile
xercesc/xerces-c-src/src/xercesc/validators/Makefile
xercesc/xerces-c-src/src/xercesc/validators/common/Makefile
xercesc/xerces-c-src/src/xercesc/validators/datatype/Makefile
xercesc/xerces-c-src/src/xercesc/validators/schema/Makefile
xercesc/xerces-c-src/src/xercesc/validators/schema/identity/Makefile
