# -*-Mode: makefile;-*-
# $Header: /m_home/m_utkej/Argonne/cvs2svn/cvs/OpenADFortTk/src/Makeinclude.config,v 1.21 2007-10-08 18:28:32 utke Exp $

#############################################################################
#
# File:
#   $Source: /m_home/m_utkej/Argonne/cvs2svn/cvs/OpenADFortTk/src/Makeinclude.config,v $
#
# Description:
#   Include file for package Makefile.in
# 
#   *Assumes presence of Automake variables!*
#
#############################################################################

#############################################################################
# OpenADFortTk Components and Settings
#############################################################################

# $(top_srcdir) is fine, but $(abs_top_srcdir) must be used with @@
OPENADFORTTK = @abs_top_srcdir@

############################################################
# Local includes
############################################################

OPENADFORTTK_IFLAGS = -I$(OPENADFORTTK)/src/lib/support

############################################################
# Local libraries
############################################################

# Linking dependencies:
#   OPENADFORTTK_LIBSUPPORT

OPENADFORTTK_LIBSUPPORT  = $(top_builddir)/src/lib/support/libsupport.a

#############################################################################
