[grid]
nx = 61
ny = 61
nz = 11
dx = 25000.0
dy = 25000.0

[params]
enFac = 1.0
climate = 1
calving = 0
sliding = 0
gthf = -0.042

[timesteps]
dt = 5.0
nt = 20

[init]
type:   0
fname:  e2a-200ka.nc
slice:  201

[output]
fname = e2a-sens.nc
freq  = 1

[adjoint]
fname = e2a-adjoint.txt

[FD]
fname = e2a-fd.txt
pfac = 1.0e-8
var = 1
