# This is the configuration for testing against EISMINT: no sliding, f=3

[grid]
nx  = 83
ny  = 141
nz  = 11
dx  = 20e3
dy  = 20e3

[params]
enFac = 3.0
climate = 2
calving = 1
sliding = 0
gthf = -0.050

[timesteps]
dt = 10.0
nt = 10000

[init]
init_temp:     1
init_temp_val: -10.0
fname:         EISMINT3GL.input.nc
slice:         1

[output]
fname:  greenland-100ka-noslide.nc