[grid]
nx  = 83
ny  = 141
nz  = 11
dx  = 20e3
dy  = 20e3

[params]
enFac = 2.0
climate = 2
calving = 1
sliding = 1
gthf = -0.050

[timesteps]
dt = 10.0
nt = 10

[init]
init_temp:   0
fname:  greenland-100ka-spinup.nc
slice:  2

[output]
fname = greenland-sens.nc
freq  = 1

[adjoint]
fname = greenland-adjoint.txt

[FD]
fname = greenland-fd.txt
pfac = 1.0e-8
var = 1
